<form method="POST" action="/new">
    <h1>New Messages</h1>
    <p>
        <label for="name" id="name-label">Name: </label>
        <input type="text" id="name" name="name" aria-labelledby="name-label" required />
    </p>
    <p>
        <label for="message" id="message-label">Message: </label>
        <textarea id="message" name="message" aria-labelledby="message-label"required ></textarea>
    </p>
    <button type="submit">Submit</button>
</form>